* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Site Blue Colours */
  --mainBlue: #3949AB;
  --darkMainBlue: #1A237E;
  --lightMainBlue: #E8EAF619;
  
  /* Site Pink Colours */
  --mainPink: #AB47BC;
  --darkMainPink: #6A1B9A;
  --lightMainPink: #F3E5F519;
  
  /* Site Cream Colours */
  --mainCream: #FFD54F;
}

/* Sidebar Styles*/
.side-bar {
  width: 240px;
  height: 100vh;
  display: flex;
  position: fixed;
  left: -200px;
  transition: all 0.5s ease;
  z-index: 2;
}

.main-side-bar {
  background: var(--mainBlue);
  width: 200px;
}

.side-bar-header {
  background: var(--mainPink);
  height: 50px;
  display: flex;
  border-right: solid 1.5px var(--darkMainPink);
  justify-content: center;
  align-items: center;
}

.side-bar-body li {
  display: flex;
  /*align-items: center;*/
}

.side-bar-body a {
  text-decoration: none;
  display: block;
  line-height: 50px;
  padding-left: 20px;
  width: 100%;
  border-bottom: var(--darkMainBlue) solid 1px;
  border-top: var(--lightMainBlue) solid 1px;
  font-weight: 900;
  color: var(--mainCream);
}

.side-bar-body a:hover {
  background: var(--mainCream);
  color: var(--mainBlue);
  padding-left: 30px;
}

.menu-icon {
  margin-right: 20px;
}

label #side-bar-opener, label #side-bar-closer {
  background: var(--mainPink);
  font-size: 50px;
  color: var(--mainCream);
  padding: 5px 10px;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  position: absolute;
}

label #side-bar-opener {
  z-index: 5;
  transition: all 0.5s ease;
}

label #side-bar-closer {
  width: 50px;
  height: 50px;
  border-left: solid 2px var(--lightMainPink);
  Left: -120px;
  z-index: 50;
  transition: all 0.5s ease;
}

.drawer-bar {
  width: 20px;
  height: 2px;
  background: var(--mainCream);
  margin: 3px 0;
}

#check {
  display: none;
}

#check:checked ~ .side-bar {
  left: 0;
}

#check:checked ~ label #side-bar-opener {
  opacity: 0;
}

#check:checked ~ label #side-bar-closer {
  left: 200px;
}

#check:checked ~ .side-bar .main-side-bar .socials #so-facebook {
  bottom: 300px;
}

#check:checked~.side-bar .main-side-bar .socials #so-twitter {
  bottom: 300px;
}

#check:checked~.side-bar .main-side-bar .socials #so-instagram {
  bottom: 300px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 350px;
  padding-bottom: 10px;
  position: relative;
}

.social-icon {
  color: white;
  margin: 0 10px;
  font-size: 30px;
  position: absolute;
  bottom: 10px;
  transition: bottom 0.8s ease;
}

#so-facebook {
  position: absolute;
  left: 5px;
  transition-delay: 0.2s;
}

#so-twitter {
  position: absolute;
  left: 75px;
  transition-delay: 0.3s;
}

#so-instagram {
  position: absolute;
  right: 5px;
  transition-delay: 0.4s;
}

.social-icon:hover {
  transform: scale(1.5);
}

/* End of Sidebar Styles*/

/* Sidebar Destop Version */
@media screen and (min-width: 361px) {
  .side-bar {
    width: 600px;
    height: 100vh;
    left: -600px;
  }
  
  .main-side-bar {
    width: 600px;
  }
  
  label #side-bar-closer {
    width: 50px;
    height: 50px;
    Left: -120px;
  }
  
  #check:checked~label #side-bar-closer {
    left: 600px;
  }
  
  .side-bar-body a {
    line-height: 100px;
    padding-left: 50px;
    font-weight: 900;
    font-size: 30px;
  }
  
  .side-bar-body a:hover {
    padding-left: 100px;
  }
  
  .socials {
    height: 1000px;
    padding-bottom: 10px;
  }
  
  .social-icon {
    font-size: 50px;
  }
  
  #so-facebook {
    position: absolute;
    left: 50px;
    transition-delay: 0.2s;
  }
  
  #so-twitter {
    position: absolute;
    left: 45%;
    transition-delay: 0.3s;
  }
  
  #so-instagram {
    position: absolute;
    right: 50px;
    transition-delay: 0.4s;
  }
  
  #check:checked~.side-bar .main-side-bar .socials #so-facebook {
    bottom: 800px;
  }
  
  #check:checked~.side-bar .main-side-bar .socials #so-twitter {
    bottom: 800px;
  }
  
  #check:checked~.side-bar .main-side-bar .socials #so-instagram {
    bottom: 800px;
  }
}

/* End of Sidebar Desktop Version */

/* Slider styles */

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: turquoise;
}

.slider {
  width: 360px;
  height: 270px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 270px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 360px;
  height: 270px;
}

.nav-manual {
  position: absolute;
  width: 360px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
 border: 2px solid turquoise;
 padding: 5px;
 border-radius: 10px;
 cursor: pointer;
 transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 20px;
}

.manual-btn:hover {
  background: turquoise;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~.first {
  margin-left: -20%;
}

#radio3:checked ~.first {
  margin-left: -40%;
}

#radio4:checked ~.first {
  margin-left: -60%;
}

/* Automatic Navigation */

.nav-auto {
  position: absolute;
  display: flex;
  width: 360px;
  justify-content: center;
  margin-top: 230px;
}

.nav-auto div {
  border: 2px solid turquoise;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.nav-auto div:not(:last-child) {
  margin-right: 20px;
}

#radio1:checked ~ .nav-auto .auto-btn1 {
  background: turquoise;
}

#radio2:checked~.nav-auto .auto-btn2 {
  background: turquoise;
}

#radio3:checked~.nav-auto .auto-btn3 {
  background: turquoise;
}

#radio4:checked~.nav-auto .auto-btn4 {
  background: turquoise;
}